<section class="mt-12 mb-40">
  <div class="flex gap-6 mx-auto">
    <div class="felx flex-col items-center">
      <div class="mb-2 text-2xl shadow-orange-200">
        <svg
          class="fill-current text-orange-500"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path d="M2 7v1l11 4 9-4V7L11 4z"></path><path
            d="M4 11v4.267c0 1.621 4.001 3.893 9 3.734 4-.126 6.586-1.972 7-3.467.024-.089.037-.178.037-.268V11L13 14l-5-1.667v3.213l-1-.364V12l-3-1z"
          ></path></svg
        >
      </div>
      <!-- Linea gradient -->
      <div
        class="h-[80%] w-1 mx-auto gradiente-sobremi bg-gradient-to-b from-orange-500 from-20% via-yellow-500 via-60% shadow-cyan-100"
      >
      </div>
    </div>
    <div class="w-full">
      <h2 class="text-2xl font-bold mb-6">Formación Academica</h2>
      <div class="flex flex-col md:flex-row gap-10 md:gap-20 mx-auto w-fit">
        <div class="flex items-center gap-6">
            <div>
                <img
                  class="w-16 h-16 drop-shadow-white-200 object-contain"
                  src="https://whatthelogo.com/storage/logos/uao-86037.png"
                  alt="Escudo de la Universidad Autonoma de Occidente"
                  width="80x"
                  height="80px"
                />
            </div>
            <div>
                <h3 class="text-base text-zinc-300 font-semibold mb-1">Ingeniería Informática</h3>
                <p class="text-sm text-zinc-500">
                  Universidad Autónoma de Occidente
                </p>
            </div>
          </div>

          <div class="flex items-center gap-6">
            <div>
                <img
                  class="w-16 h-16 drop-shadow-white-200 object-contain"
                  src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/2022-09/asset_39psd.png"
                  alt="Escudo de la Universidad Autonoma de Occidente"
                  width="80x"
                  height="80px"
                />
            </div>
            <div>
                <h3 class="text-base text-zinc-300 font-semibold mb-1">Professional Scrum Developer™ Certification</h3>
                <p class="text-sm text-zinc-500">
                  Scrum.org
                </p>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

<style>
  div .shadow-orange-200 {
    filter: drop-shadow(0 0 0.4rem rgb(255, 193, 121));
  }
  /* div .drop-shadow-white-200 {
    filter: drop-shadow(0 0 0.8rem rgb(255, 255, 255));
  } */
</style>
