---
import AboutLayout from "../layouts/AboutLayout.astro";
import Bento from "../components/Bento.astro";
import Header from "../components/about/Header.astro";
import Sobremi from "../components/about/Sobremi.astro";
import Experiencia from "../components/about/Experiencia.astro";
import Tecnologias from "../components/about/Tecnologias.astro";
import Formacion from "../components/about/Formacion.astro";

const description = "Sobre mi";
---

<AboutLayout title="Sobre mi" description={description}>
  <main class="min-h-screen max-w-screen-xl mt-20 p-5 mx-auto text-zinc-200">
    <Header />
    <Sobremi />
    <Bento />
    <Experiencia />
    <Tecnologias />
    <Formacion />
  </main>
</AboutLayout>
