---
import AboutLayout from "../layouts/AboutLayout.astro";
import Bento from "../components/Bento.astro";

const description = "Sobre mi";
---

<AboutLayout title="Sobre mi" description={description}>
  <main class="min-h-screen max-w-screen-xl mt-20 p-5 mx-auto text-zinc-200">
    <div class="flex flex-col md:flex-row md:gap-6 gap-3 mb-10">
      <div>
        <img
          src="/Profile.jpeg"
          alt="Foto de perfil"
          class="w-32 h-32 rounded-full mx-auto mb-4"
        />
      </div>
      <div>
        <h1 class="text-4xl font-bold mb-2 md:text-left text-center">Ivan D Duque Correa</h1>
        <p class="md:text-lg text-md mb-4 md:text-left text-center">
          Ingeniero Informático y Desarrollador web
        </p>
        <!-- Redes -->
        <div>
          <ul class="flex flex-wrap justify-center md:justify-normal">
            <li>
              <a
                href="https://github.com/iDuqueZ"
                target="_blank"
                class="text-md text-zinc-200 hover:text-zinc-100 flex gap-2 bg-neutral-600 px-4 py-1 items-center w-fit rounded-full"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  viewBox="0 0 16 16"
                  width="16"
                  style="color: currentcolor;"
                  ><g clip-path="url(#clip0_872_3147)">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8 0C3.58 0 0 3.57879 0 7.99729C0 11.5361 2.29 14.5251 5.47 15.5847C5.87 15.6547 6.02 15.4148 6.02 15.2049C6.02 15.0149 6.01 14.3851 6.01 13.7154C4 14.0852 3.48 13.2255 3.32 12.7757C3.23 12.5458 2.84 11.836 2.5 11.6461C2.22 11.4961 1.82 11.1262 2.49 11.1162C3.12 11.1062 3.57 11.696 3.72 11.936C4.44 13.1455 5.59 12.8057 6.05 12.5957C6.12 12.0759 6.33 11.726 6.56 11.5261C4.78 11.3262 2.92 10.6364 2.92 7.57743C2.92 6.70773 3.23 5.98797 3.74 5.42816C3.66 5.22823 3.38 4.40851 3.82 3.30888C3.82 3.30888 4.49 3.09895 6.02 4.1286C6.66 3.94866 7.34 3.85869 8.02 3.85869C8.7 3.85869 9.38 3.94866 10.02 4.1286C11.55 3.08895 12.22 3.30888 12.22 3.30888C12.66 4.40851 12.38 5.22823 12.3 5.42816C12.81 5.98797 13.12 6.69773 13.12 7.57743C13.12 10.6464 11.25 11.3262 9.47 11.5261C9.76 11.776 10.01 12.2558 10.01 13.0056C10.01 14.0752 10 14.9349 10 15.2049C10 15.4148 10.15 15.6647 10.55 15.5847C12.1381 15.0488 13.5182 14.0284 14.4958 12.6673C15.4735 11.3062 15.9996 9.67293 16 7.99729C16 3.57879 12.42 0 8 0Z"
                      fill="currentColor"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_872_3147">
                      <rect width="16" height="16" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                Github
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <section>
      <div class="flex gap-6 mx-auto">
        <div class="felx flex-col items-center">
          <div class="mb-2 text-2xl shadow-cyan-200">
            <svg
              class="text-cyan-400 brightness-110"
              data-testid="geist-icon"
              height="32"
              stroke-linejoin="round"
              viewBox="0 0 16 16"
              width="16"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.75 0C5.95507 0 4.5 1.45507 4.5 3.25V3.75C4.5 5.54493 5.95507 7 7.75 7H8.25C10.0449 7 11.5 5.54493 11.5 3.75V3.25C11.5 1.45507 10.0449 0 8.25 0H7.75ZM6 3.25C6 2.2835 6.7835 1.5 7.75 1.5H8.25C9.2165 1.5 10 2.2835 10 3.25V3.75C10 4.7165 9.2165 5.5 8.25 5.5H7.75C6.7835 5.5 6 4.7165 6 3.75V3.25ZM2.5 14.5V13.1709C3.31958 11.5377 4.99308 10.5 6.82945 10.5H9.17055C11.0069 10.5 12.6804 11.5377 13.5 13.1709V14.5H2.5ZM6.82945 9C4.35483 9 2.10604 10.4388 1.06903 12.6857L1 12.8353V13V15.25V16H1.75H14.25H15V15.25V13V12.8353L14.931 12.6857C13.894 10.4388 11.6452 9 9.17055 9H6.82945Z"
                fill="currentColor"></path></svg
            >
          </div>
          <!-- Linea gradient -->
          <div
            class="h-[80%] w-1 mx-auto gradiente-sobremi bg-gradient-to-b from-cyan-500 from-20% via-blue-500 via-60% shadow-cyan-100"
          >
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-bold mb-4">Sobre mi</h2>
          <p class="text-lg mb-4">
            Soy un desarrollador web con más de 2 años de experiencia en el
            desarrollo de aplicaciones web. Me apasiona el desarrollo web y la
            creación de aplicaciones web de alta calidad. Me encanta trabajar
            con tecnologías web modernas y siempre estoy buscando formas de
            mejorar mis habilidades y conocimientos.
          </p>
        </div>
      </div>
    </section>

    <Bento />
  </main>
</AboutLayout>

<style>
  div .shadow-cyan-200 {
    filter: drop-shadow(0 0 0.4rem rgb(121, 255, 255));
  }

  /* div .shadow-cyan-100 {
        filter: drop-shadow(0 0 0.2rem rgb(121, 255, 255));
    } */

</style>
