---
//Import Layout
import Bloglayout from "../layouts/Bloglayout.astro";
import ListPosts from "../components/ListPosts.jsx";

const postList = await Astro.glob("../pages/post/*.md");
---

<Bloglayout title="Blog" description="Blogs de SoyDuque">
  <main class="min-h-screen bg-zinc-900 mt-20 text-zinc-100 p-3">
    <div class="max-w-screen-xl md:px-5 mx-auto">
      <section class="mb-6">
        <h1 class="text-4xl md:text-6xl mb-4 font-semibold text-teal-400">
          Blog <span></span>
        </h1>
        <p>
          Aquí encontraras joyas y otras tantas cosas que me gusta escribir:
        </p>
      </section>

      <section>
        <ListPosts postList={postList} client:only />
      </section>
    </div>
  </main>
</Bloglayout>

<style>
  main {
    transition: all 0.5s ease-in-out;
    margin-bottom: 40px;
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    // Guarda una referencia al método original
    const originalReplaceState = window.history.replaceState;

    // Sobrescribe el método replaceState
    window.history.replaceState = function (state, title, url) {
      // Llama al método original
      const result = originalReplaceState.apply(this, arguments);

      // Actualiza el contenido según sea necesario
      updateContent(); // Llama a una función para actualizar el contenido

      return result;
    };

    // Función para actualizar el contenido según los parámetros de la URL
    function updateContent() {
      const url = new URL(window.location.href);
      const params = new URLSearchParams(url.search);
      const filter = params.get("filter");

      const $title = document.querySelector("h1 span");
      if (filter) {
        if (filter === "all") {
          $title.textContent = "";
        } else {
          // Actualiza el título según el filtro (si es necesario
          $title.textContent = `#${filter}`;
        }
      }
    }

    // Llama a la función updateContent para actualizar el contenido inicial
    updateContent();
  });
</script>
