---
//Import Layout
import Bloglayout from "../layouts/Bloglayout.astro"
---

<Bloglayout title="Blog">
    <main class="h-screen">
        <h1 class="text-4xl md:text-6xl mb-6 font-semibold text-teal-600">Blog</h1>
        <p>Aquí encontraras joyas y otras tantas cosas que me gusta escribir:</p>
    </main>
</Bloglayout>

<style>
    main {
        padding: 2rem;
    }

    h1{
        line-height: normal;
        color: rgb(13 148 136);
    }
</style>
