---
//Import Layout
import Bloglayout from "../layouts/Bloglayout.astro";
import ListPosts from "../components/ListPosts.jsx";

const postList = await Astro.glob("../pages/post/*.md");

---

<Bloglayout title="Blog" description="Blogs de SoyDuque">
  <main class="min-h-screen bg-zinc-900 mt-16 text-zinc-100">
    <div class="max-w-screen-xl mx-auto">
      <section class="mb-6">
        <h1 class="text-4xl md:text-6xl mb-4 font-semibold text-teal-400">
          Blog
        </h1>
        <p>
          Aquí encontraras joyas y otras tantas cosas que me gusta escribir:
        </p>
      </section>
      
      <section>
        <ListPosts postList={postList} client:load/>
      </section>
      
    </div>
  </main>
</Bloglayout>

<style>
  main {
    padding: 2rem;
    transition: all 0.5s ease-in-out;
  }
</style>
