---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SoyDuque">
	<main class="flex items-center justify-center flex-col h-screen bg-slate-100">
		<h1 class="text-4xl bg-gradient-to-r from-blue-600 via-green-500 to-purple-400 text-transparent bg-clip-text">Inicio</h1>
		<p>Bienvenido bebe</p>
	</main>
</Layout>

<style>

</style>
