---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="SoyDuque">
  <main class="flex items-center justify-center flex-col h-screen bg-zinc-900">
    <Hero />

    <!-- FLEHA HACIA ABAJO -->
    <div class="flex flex-col items-center justify-center">

      <svg
	  	class="animate-bounce w-6 h-6 text-zinc-100"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: rgb(199, 199, 199);transform: ;msFilter:;"
        ><path
          d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"
        ></path></svg
      >
    </div>
  </main>
</Layout>
