---
// This is the layout for the entire site
import { ViewTransitions } from 'astro:transitions';
//Import the Navbar component
import Navbar from "../components/Navbar.astro";

//Import the Footer component
import Footer from "../components/Footer.astro";

//Import fuente
import '@fontsource/shadows-into-light-two';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>

  <style is:global>

    html {
      color-scheme: light dark;
    }

    body {
      @apply bg-zinc-900;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: IBM Plex Mono,monospace;
    }

    *::selection {
      background-color: #1f1f1f;
      color: #ffff;
    }

    a {
      text-decoration: none;
    }

    article a {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      list-style: none;
    }

    ::-webkit-scrollbar {
      border-radius: 10px;
      width: 5px;
      height: 0px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #ebebeb;
      background-clip: content-box;
      /* border: 2px solid #0000; */
      border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #1f1f1f;
    }

    ::-webkit-scrollbar-corner {
      background: #1f1f1f;
    }
    

    article {
      font-family: IBM Plex Mono,monospace;
    }

    article *{
      @apply text-lg text-pretty text-neutral-200;
    }
    
    article h2 {
      color: #ffff;
      padding-bottom: 0.3em;
      font-size: 1.5em;
      border-bottom: 1px solid gray;
      margin-top: 34px;
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-overflow: ellipsis;
      width: 100%;
    }

    article  p{
        @apply text-lg mb-4 text-pretty text-neutral-200;
    }

    article ul {
      @apply list-disc list-inside mb-2
    }

    article ul li {
      @apply mb-4
    }

    article ul li ul  {
      list-style: circle;
      @apply list-inside pl-6 mb-1 mt-3;
    }

    article ul li ul li {
      @apply mb-1
    }

    article p img {
      margin: 0 auto;
      max-height: 80vh;
    }
    
    article :not(pre) > code {
        display: inline-block;
        padding: 0.2em 0.4em;
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9em;
        color: #e1e4e8;
        background-color: #24292e;
        border: 1px solid #181a1d;
        border-radius: 3px;
        white-space: pre-wrap;
    }  

    article pre {
      @apply p-2 my-2;
    }
  </style>
</html>
