---
// This is the layout for the entire site

//Import the Navbar component
import Navbar from "../components/Navbar.astro";

//Import the Footer component
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  

  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>

  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    *::selection {
      background-color: #1f1f1f;
      color: #ffff;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
    }

    ::-webkit-scrollbar {
      border-radius: 10px;
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #1f1f1f;
      background-clip: content-box;
      /* border: 2px solid #0000; */
      border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }
  </style>
</html>
